.turns {
    grid-area: t;
    width: 100%;

    padding: 10px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    @media screen and (min-width: 768px) {
        width: 70%;
        place-self: center;
    }
}

.turn-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.turn {
    width: 30px;
    height: 30px;
    padding: 3px;

    border-radius: 5px;
    background-color: rgb(230, 230, 230);

    img {
        width: 100%;
        height: 100%;
    }
}