.game-board {
    grid-area: g;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    padding: 15px;
    gap: 5px;

    max-width: 500px;
    width: 100%;

    @media screen and (min-width: 768px) {
        place-self: end;
    }
}

.cell {
    aspect-ratio: 1 / 1;
    overflow: hidden;

    padding: 15px;

    border-radius: 15px;
    border: none;
    background-color: rgb(235, 235, 235);
    
    img {
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: 768px) {
        &:hover {
            background-color: rgb(220, 220, 220);
            cursor: pointer;
        }

        &:active {
            background-color: rgb(200, 200, 200);
        }

        &:disabled {
            background-color: rgb(235, 235, 235);
            cursor: not-allowed;
        }
    }
}